@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     font-family: 'Poppins', sans-serif;
     text-decoration: none;
}

*::-webkit-scrollbar {
     width: 0px;
}

body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background: #e7dfdfb1;
     overflow: hidden;
}

/* Sign-Up & Login form CSS code */
.container {
     position: relative;
     width: 968px;
     max-width: 100%;
     min-height: 620px;
     overflow: hidden;
     background-color: #fff;
     border-radius: 10px;
}

.container .form-container .form {
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%;
     background-color: #fff;
     gap: 5px;
}

.container .form-container {
     position: absolute;
     top: 0;
     height: 100%;
}

.container .form-container .form h1 {
     font-size: 45px;
}

.container .form-container .form i{
     position: relative;
     font-size: 24px;
     bottom: 50px;
     left: 40%;
}

.container .text-field {
     width: 300px;
     padding: 15px;
     border-radius: 5px;
     font-size: 25px;
     border: none;
     outline: none;
     background-color: rgba(140, 163, 184, 0.457);
}

.container .form-container .form.signUp .text-field.username {
     margin-bottom: 25px;
}

.container .form-container .form .submit-btn {
     margin-top: 20px;
     width: 150px;
     padding: 10px 20px;
     border-radius: 5px;
     background-color: #5e5f5f;
     color: #fff;
     border: none;
     cursor: pointer;
     font-size: 25px;
}

.container .form-container .form .submit-btn:hover {
     background-color: #6a6a6b;
}

.container .form-container .form {
     padding: 20px;
}

.container .form-container .form a {
     font-size: 17px;
     cursor: pointer;
     color: #000;
}

.container .form-container .form a:hover {
     text-decoration: underline;
}

.container .form-container .form.signUp {
     transform: translateX(10%);
     right: 0;
}

.container .form-container .form.login {
     transform: translateX(170%);
     left: 0;
     opacity: 0;
}

.container .form-container .error-msg {     
     color: red;
     margin-top: 5px;
     font-size: 16px;
     font-weight: 500;
     max-width: 300px;
     text-align: center;
     word-wrap: break-word;
}

.container .toggle-container .toggle-box {
     padding: 10px;
     color: #fff;
     text-align: center;
     background-color: #1c1c24;
     height: 100%;
     width: 50%;
}

.container .toggle-container .toggle-box h2 {
     margin-top: 200px;
     font-size: 25px;
}

.container .toggle-container .toggle-box p {
     font-size: 20px;
}

.container .toggle-container .toggle-box button {
     margin-top: 20px;
     padding: 10px 20px;
     border-radius: 5px;
     background-color: #3f3f44;
     color: #fff;
     border: none;
     cursor: pointer;
     font-size: 20px;
}

.container .toggle-container .toggle-box.right-toggle {
     position: absolute;
     left: 50%;
     border-radius: 150px 0 0 150px;
     z-index: 1;
}

.container .toggle-container .toggle-box.left-toggle {
     position: absolute;
     right: 50%;
     border-radius: 0 150px 150px 0;
     z-index: -1;
}

/* move, come and formShow are animations for the forms */
@keyframes move {
     from {
          transform: translateX(10%);
          opacity: 1;
     }
     to {
          transform: translateX(170%);
          opacity: 0;
     }
}

@keyframes come {
     from {
          transform: translateX(170%);
          opacity: 1;
     }
     to {
          transform: translateX(10%);
          opacity: 0;
     } 
}

@keyframes formShow {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }

/* disappear and appear are animations for the toggle boxes */
@keyframes disappear {
     from {
          opacity: 1;
          z-index: 2;
     }
     to {
          opacity: 0;
          z-index : -1;
     }
}

@keyframes appear {
     from {
          opacity: 0;
          z-index: -1;
     }
     to {
          opacity: 1;
          z-index: 1;
     }
}

/* User list page CSS code */
.container.user-container {
     width: 550px;
     max-height: 450px;
}

.container .user-info {
     display: flex;
     justify-content: space-between;
     padding: 20px;
     border-bottom: 1px solid #3f3e3e4d;
}

.container .details {
     font-weight: 500;
     display: flex;
     position: relative;
}

.container .details.self {
     flex-direction: column;
     margin-right: 70px;
}

.container img {
     width: 45px;
     height: 45px;
     border-radius: 50%;
     margin-top: 15px;
     cursor: pointer;
}

.container .user-info .details .info {
     font-size: 25px;
     font-weight: 500;
}

.container .user-info .details .info.status {
     font-size: 20px;
}

.container .searchBar {
     position: relative;
     left: 120px;
     top: 10px;
     height: 65px;
}

.container .searchBar i {
     font-size: 20px;
     position: relative;
     right: 35px;
}

.container .searchBar .text-field.search-field {
     height: 45px;
}

.container a {
     font-size: 25px;
     margin-top: 20px;
     color: #000;
}

.container a.user {
     display: flex;
     font-size: 20px;
     padding: 10px;
     color: #000;
     border-bottom: 1px solid #dadada;
     border-radius: 5px;
}

.container a.user:hover {
     background-color: #eae9e9;
}

.container a.user:last-child {
     border: none;     
}

.container.user-container .submit-btn {
     text-align: center;
     width: 150px;
     padding: 10px 20px;
     border-radius: 5px;
     background-color: #5e5f5f;
     color: #fff;
     border: none;
     cursor: pointer;
     font-size: 25px;
}

.container .details.other {
     gap: 20px;
     width: 100%;
}

.container .users-list {
     padding: 20px;
     max-height: 450px;
     overflow-y: auto;
}

.container .users-list .user .details img {
     margin-bottom: 20px;
}

.container .users-list .user .details i {
     position: absolute;
     align-self: center;
     left: 440px;
     color: #008000;
}

.container .users-list .user .details .new-info {
     display: flex;
     flex-direction: column;
     margin-top: 10px;
     width: 162px;
     position: absolute;
     right: 270px;
}

.container .users-list .user .details .new-info .last-msg {
     font-size: 17px;
     color: #504f4f;
}

/* Chat area CSS code */
.container.chat-container .user-info a {
     font-size: 25px;
     position: relative;
     top: 5px;
}

.container.chat-container .user-info img {
     position: relative;
     right: 80px;
}

.container.chat-container .user-info .details {
     position: relative;
     right: 160px;
}

.container .message-box {
     display: flex;
     flex-direction: column;
     gap: 10px;
     max-height: 400px;
     overflow-y: auto;
}

.container .message-box .message {
     display: flex;
}

.container .message-box .message img {
     position: relative;
     top: 10px;
     left: 10px;
     width: 35px;
     height: 35px;
}

.container .message-box .message div {
     font-size: 20px;
     padding: 10px;
}

.container .message-box .message.incoming-msg div {
     background-color: #cfcfcf;
     color: #000000;
     max-width: 270px;
     width: fit-content;
     margin-top: 10px;
     margin-left: 20px;
     border-radius: 18px 18px 18px 0;
     word-break: break-all;
     align-self: flex-start;
}

.container .message-box .message.outgoing-msg {
     align-self: flex-end;
}

.container .message-box .message.outgoing-msg div {
     background-color: #333;
     color: #fff;
     max-width: 270px;
     width: fit-content;
     margin-top: 10px;
     margin-right: 20px;
     border-radius: 18px 18px 0 18px;
     word-break: break-all;
}

.container .form.send-msg {
     padding: 5px;
     border-top: 1px solid #dbbebe;
}

.container.chat-container .form .submit-btn {
     width: 65px;
     position: relative;
     border-radius: 0 10px 10px 0;
     left: 70px;
     text-align: center;
}

.container.chat-container .form .submit-btn:hover {
     background-color: #464647;
}

.container.chat-container .form .text-field {
     font-size: 20px;
     position: relative;
     left: 70px;
}